<div class="header" style="font-weight:300; font-size: 20px; padding-top: 27px" ng-init="noteCtrl.init()">
  {{ noteCtrl.channelName }}
</div>
<div>
<span id="title" style="  outline-width: 1px;  outline-color: #888888; display: inline-block;" class="title modifying"
      contenteditable="true">
  <h3 id="title_text" ng-bind="noteCtrl.title">
  </h3> </span>

  <div>
    <a class="btn btn-md btn-default" ng-if="noteCtrl.fileUrl" href="{{noteCtrl.fileUrl}}">Download</a>
    <a class="btn btn-md btn-default" ng-if="noteCtrl.fileUrl" href="{{noteCtrl.fileUrl}}">Copy Link</a>
    <!--<a class="create-button btn btn-sm btn-default" ng-if="noteCtrl.showTitleChangeButton"-->
    <!--ng-click="noteCtrl.changeTitle(document.getElementById('title_text').innerText)">-->
    <!--Change Title</a>-->
    <!--<a class="create-button btn btn-sm btn-default" ng-click="noteCtrl.addTask()">-->
    <!--Add Task</a>-->
    <!--</div>-->
    <div class="channel-panes">

      <!--<div class="channel-panes">-->
      <div id="userlist" style="float:left"></div>
      <div id="firepad" style="float:left"></div>
      <!--</div>-->
    </div>
  </div>
  <script>

  </script>


