<div>
  <b class="caret left" style="float:left; margin-right: 5px; margin-bottom: 3px;"></b><h6 class="dashhead-subtitle"
                                                                                           ng-click="noteCtrl.goToChannel()"
                                                                                           style="margin-bottom: 10px"
                                                                                           ng-bind="noteCtrl.channelName"></h6>
  {{noteCtrl.channelName}}
</div>
<div class="card-large" ng-init="noteCtrl.init()">


  <!--<button type="button" >Save</button>-->
  <div>
    <div id="title_text" class="h2 sans dashhead-title" ng-bind="noteCtrl.title"
         style="  outline-width: 0px;  outline-color: #888888; display: inline-block;"
         class="title modifying"
         contenteditable="true">
    </div>
  </div>
  <div>
    <a class="btn btn-md btn-default" ng-if="noteCtrl.fileUrl" href="{{noteCtrl.fileUrl}}">Download</a>
    <a class="btn btn-md btn-default" ng-if="noteCtrl.fileUrl" href="{{noteCtrl.fileUrl}}">Copy Link</a>
    <!--<a class="create-button btn btn-sm btn-default" ng-if="noteCtrl.showTitleChangeButton"-->
    <!--ng-click="noteCtrl.changeTitle(document.getElementById('title_text').innerText)">-->
    <!--Change Title</a>-->
    <!--<a class="create-button btn btn-sm btn-default" ng-click="noteCtrl.addTask()">-->
    <!--Add Task</a>-->
    <!--</div>-->
    <!--<div class="channel-panes">-->
    <!--<row>-->
    <!--<div class="channel-panes">-->

    <!--<div style="display:flex; flex-direction:vertical;">-->
    <!--<div style="flex: 1; overflow: auto;">-->
    <div id="firepad"></div>
    <!--</div>-->
    <!--</div>-->


    <!--<div id="userlist" class="col-md-2"></div>-->
    <!--</row>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <script>

  </script>
</div>

