<!--<div style="position:absolute;  top:0px; width:100%; height: 20px; background: #EEEEEE;">-->
  <!--<div style="position:absolute; right:0px;">-->
  <!--<div style="right:0px; position: absolute;">-->
  <!--<span class="presence" ng-class="{online: channelsCtrl.profile.online}"></span>-->
  <!--{{ channelsCtrl.profile.displayName }}-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="user-info">-->
  <!-- -->
  <!--<div class="options" style="margin-top: 3px;">-->
  <!--<a ui-sref="profile">Edit Profile</a>-->
  <!--/-->
  <!--<a href="#" ng-click="channelsCtrl.logout()">Logout</a>-->
  <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="container" ng-init="channelsCtrl.onInit()">

  <div class="row">
    <div class="col-sm-2 sidebar">

      <nav class="sidebar-nav">
        <div class="sidebar-header">
          <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse"
                  data-target="#nav-toggleable-sm">
            <span class="sr-only">Toggle nav</span>
          </button>
          <a class="sidebar-brand img-responsive" href="../../docs/index.html">
            <img src="images/logo.png"/>
          </a>

        </div>

        <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
          <div class="dropdown" style="margin-bottom:10px;">

            <button class="btn dropdown-toggle" style="border-width:1px;border-color: #cccccc; border-style:solid;background: #ffffff" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <!--<div class="user-info">-->
                <!--<button>-->
                <img style="width: 30px;" class="user-pic img-circle"
                     ng-src="{{ channelsCtrl.getGravatar(channelsCtrl.profile.$id) }}"/>

                <span class="presence" ng-class="{online: channelsCtrl.profile.online}"></span>

               {{ channelsCtrl.profile.displayName }}
                <span class="caret down" style="color: #333; top:20px; margin-top:12px; margin-left: 10px; margin-right: 6px; "></span>

              <!--</div>-->
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

              <!--<li>  <a ui-sref="channels.create">-->
                <!--Create Group </a></li>-->
              <li><a ui-sref="profile">Edit Profile</a></li>
              <!--<li>-->

              <!--<a style="cursor: pointer;" ng-click="channelsCtrl.addTeam()">Add Slack Team</a></li>-->

              <li role="separator" class="divider"></li>
              <li><a style="cursor: pointer;   " ng-click="channelsCtrl.logout()">Logout</a></li>
            </ul>
          </div>
          <!--<form class="sidebar-form">-->
            <!--<input class="form-control" type="text" placeholder="Search...">-->
            <!--<button type="submit" class="btn-link">-->
              <!--<span class="icon icon-magnifying-glass"></span>-->
            <!--</button>-->
          <!--</form>-->

          <!--<span class="nav-header">Dashboards</span>-->
          <ul class="nav nav-pills nav-stacked" ng-repeat="n in channelsCtrl.channels track by $index">

            <li class="nav-header" ng-if="channelsCtrl.isFirstChannel(channelsCtrl.getTeamName(channelsCtrl.channels[$index].$id))">
              {{channelsCtrl.getTeamName(channelsCtrl.channels[$index].$id)}}
            </li>
            <li>
              <a ui-sref="channels.home({channelId: channelsCtrl.channels[$index].$id})"
                 ng-bind="channelsCtrl.getChannelName(channelsCtrl.channels[$index].$id)"></a>
            </li>

            <li class="nav-header" ng-if="$index == channelsCtrl.channels.length-1">
             Private
            </li>
            <li ng-if="$index == (channelsCtrl.channels.length-1)">
              <a ui-sref="channels.home({channelId: channelsCtrl.draftsId})">My Drafts</a>
            </li>
          </ul>

          <hr class="visible-xs m-t">

        </div>

      </nav>

    </div>
    <div class="col-sm-10 content">


      <!--<div class="dashhead">-->
      <!--<div class="dashhead-titles">-->
      <!--<h6 class="dashhead-subtitle">Dashboards</h6>-->

      <!--<h2 class="dashhead-title">Overview</h2>-->
      <!--</div>-->

      <!--<div class="btn-toolbar dashhead-toolbar">-->
      <!--<div class="btn-toolbar-item input-with-icon">-->
      <!--<input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">-->
      <!--<span class="icon icon-calendar"></span>-->
      <!--</div>-->
      <!--</div>-->

      <!--</div>-->

      <!--<hr class="m-t">-->
      <!--<div class="message-pane">-->
        <ui-view></ui-view>
      <!--</div>-->
    </div>
  </div>


</div>

<div id="docsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Example modal</h4>
      </div>
      <div class="modal-body">
        <p>You're looking at an example modal in the dashboard theme.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cool, got it!</button>
      </div>
    </div>
  </div>
</div>
